.sidebarContent{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding:   15px 30px;
  background-color: #F6FAFF;
  border-radius: 8px;
  /* border: 2px solid green; */
  /* padding: 30px 0px; */
}

.navLink{
  flex-basis: 70%;
  
}
.setting{
  flex-basis: 30%;
  align-content: end;
  /* border:2px solid red */
  
}
.logo{
  padding: 15px 0px;
}
.generalMenu{
  margin-top: 20px;
}
.generalMenu p, .tools p{
  color: gray;
  font-size: small;
  font-weight: 500;
  padding: 10px 0px;
}
 ul{
  list-style-type: none;
  color:"gray";;
  color: gray;
  font-weight: 400;
  
}
.icon{
  margin-right: 5px;

}
.generalMenu ul li, .tools ul li{
  margin:10px 2px;
  /* background-color: red; */
  /* padding */
  padding: 7px 0px;
  line-height: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  
}
.setting{
  display: flex;
  color: gray;
  line-height: 17px;
  letter-spacing: 1px;
  

}
.setting p{
  margin-left: 5px;
  padding:0px 5px;
}



@media (max-width: 920px) {
  /* .container {
    flex-wrap: wrap;

  }
  .sidebar{
    flex-basis: 20%;
  }
  .dashboardOverview{
    flex-basis: 60%;
  }
  .scheduleContent{
     flex-basis: 100%;
     margin-top: 20px;
  } */

  .sidebarContent{
    font-size: 12px;
  }

}