.container{
    display: flex;
    gap: 10px;
    
}

/* sidebar  */
.sidebar{
    width: 100%;
    flex-basis: 20%;
    /* border: 2px solid red; */
    height: 100vh;
    border-radius: 8px;
}

/* dashboard */
.dashboardOverview{
    width: 100%;
    flex-basis: 40%;
    /* border: 2px solid red; */
}

/* schedulecontent */
.scheduleContent{
    width: 100%;
    flex-basis: 40%;
    /* bord er: 2px solid red; */
   
    border-radius: 8px;
    background-color: #f6faff;
   
}
.schedules{
    display: flex;
    flex-direction: column;
     padding: 0px 20px;
    /* border: 2px solid green; */
    width: 100%;
    gap: 20px;
}

/* right side  action and profile */
.profile{
    display: flex;
    gap: 20px;
    justify-content:end;
    padding: 30px 0px 0px 0px;
    /* margin-right: 20px; */
    /* border: 2px solid green; */
}
.profile .avatar{
    width: 40px;
    height: 40px;
    /* border: 2px solid black; */
    border-radius: 8px;
    padding: 6px;
    background-color:#00e4ec ;
    cursor: pointer;
}
.avatar img{
    width: 100%;
}
.action{
    background-color: #3734A7;
    padding: 6px;
    border-radius: 8px;
    color: white;
    cursor: pointer;

}

/* schedule card */
.upcomingScheduleCard{
    margin: 10px 20px;
}
.top .bottom{
    display: flex;
}
.top>p, .bottom>p{
    color:gray;
    /* font-size: 12px; */
    margin: 15px 0px;
    
}





@media (max-width: 920px) {
  .container {
    flex-wrap: wrap;

  }
  .sidebar{
    flex-basis: 25%;
  }
  .dashboardOverview{
    flex-basis: 60%;
  }
  .scheduleContent{
     flex-basis: 100%;
     margin-top: 20px;
  }

}

